li a{
    color:white;
    text-decoration: none;
}
li a:hover{
    color:cyan;
    text-decoration: underline;
}
li a.active{
    color:cyan;
    text-decoration: underline;
}
li a.active a{
    color:cyan;
}